{{#extends "base"}}

{{#block "content"}}
<h1>Product List</h1>

<form method="GET">
    {{{form}}}
    <input type="submit" class="btn btn-primary" value="Search"/>
</form>



<div>
    <a href="/products/create" class="btn btn-success mt-3 mb-3">Create</a> 
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Category Name
            </th>
            <th>
                Cost
            </th>
            <th>
                Description
            </th>
            <th>
                Tags
            </th>
            <th>
                Images
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.category.name}}</td>
            <td>{{this.cost}}</td>
            <td>{{this.description}}</td>
            <td>
                {{#each this.tags}}
                <span class="badge badge-pill badge-primary">{{this.name}}</span>
                {{/each}}
            </td>
            <td>
                {{#if this.image_url}}
                    <img class="img-fliud" src="{{this.image_url}}"/>
                {{/if}}
            </td> 
            <td>
                <a href="/shoppingCart/{{this.id}}/add"  class="btn-sm btn-success">Add to Cart</a>
                <a href="/products/{{this.id}}/update" class="btn-sm btn-primary">Update</a>
                <a href="/products/{{this.id}}/delete" class="btn-sm btn-danger">Delete</a>
                </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}
{{/extends}}